@model CedacriData.Models.Client

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Client</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IDClient)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDClient)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

            </dl>
        </div>
        <div class="col-md-8">
            <h3> Conto Corrente @Model.Conto.Numconto</h3>
            <form method="post">
                Import <input type="text" name="import"/>
                <input type="submit" value="Deposita" /> <hr />
            </form>
            Balance: <input type="text" value="@Model.Conto.Balance" disabled/>


        </div>
    </div> 
</div>

