@model CedacriData.Models.Client

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Client</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.IDClient)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IDClient)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

            </dl>
        </div>
        <div class="col-md-8">
            @if (Model.Conto != null)
            {
                <h3> Conto Corrente @Model.Conto.Numconto - Balance: @Model.Conto.Balance</h3>
                <form method="post">
                    Importo <input type="text" name="Importo" /> <hr />
                    Segno <select name="Segno">
                            <option value="+"> + </option>
                            <option value="-"> - </option>
                          </select>

                    <input type="submit" value="Esegui" /> <hr />
                </form>
            }
            else
            {
                @Html.ActionLink("Create New Account Number", 
               "OpenAccount", "Home", new { id = @Model.IDClient }, null)
            } 







            
            
            


        </div>
    </div> 
</div>

